<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="MsgPack.Cli" version="0.9.2" targetFramework="net45" />
  <package id="ServiceStack" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Api.Swagger" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Client" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.MsgPack" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Razor" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="5.0.0" targetFramework="net45" />
</packages>