<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Required -->
    <add key="servicestack.plugins.introspec.contact.name" value="Private Pile"/>
    <add key="servicestack.plugins.introspec.contact.email" value="private@pile.com"/>
    <add key="servicestack.plugins.introspec.description" value="This is my service, there are many just like it, but this one is mine"/>
    
    <!-- Optional -->
    <add key="servicestack.plugins.introspec.contact.url" value="http://socialnetwork.com/profile/pile"/>
    <add key="servicestack.plugins.introspec.licenseurl" value="https://opensource.org/licenses/MPL-2.0"/>
  </appSettings>
</configuration>