<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServiceStack.Plugins.IntroSpec.ContactName" value="Private Pile"/>
    <add key="ServiceStack.Plugins.IntroSpec.ContactName" value="private@pile.com"/>
    <add key="ServiceStack.Plugins.IntroSpec.ContactUrl" value="http://socialnetwork.com/profile/pile"/>
    <add key="ServiceStack.Plugins.IntroSpec.Description" value="This is my service, there are many just like it, but this one is mine"/>
    <add key="ServiceStack.Plugins.IntroSpec.LicenseUrl" value="https://opensource.org/licenses/MPL-2.0"/>
  </appSettings>
</configuration>